<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Accounts</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">JD-Bank</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="account">Accounts</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/logout">Logout</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Hide Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <h1> <span  style="color: red" th:text = "${error}"></span></h1>
            <h1 class="mt-4">Account Details:</h1>

           <p> <span th:text="'Name: ' + ${account.getName()} + ' | Account number: ' + ${account.getUuid()}"></span>  </p>
            <p> <h3> Balance: </h3> </p>

            <p> <span th:text = "${balance} + '$'"></span></p>


            <form class="form-signin" method="post" th:object="${account}" action="#" th:action="@{/accountDetails}">

                <input type="hidden" class="form-check-input" th:value="${account.getUuid()}"  th:field = "*{uuid}">

                <button class="btn btn-lg btn-primary btn-block" type="submit" th:name="action" th:value="history">Show transactions history</button>
                <button class="btn btn-lg btn-success btn-block" type="submit" th:name="action" th:value="withdraw">Withdraw money</button>
                <button class="btn btn-lg btn-dark btn-block" type="submit" th:name="action" th:value="deposit">Deposit money</button>
                <button class="btn btn-lg btn-dark btn-block" type="submit" th:name="action" th:value="transfer">Transfer money</button>

            </form>

        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
